/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing, {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  margin-top: -20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  background-color: black;
  color: white;
  text-align: center;
  text-transform: uppercase; 
  height: 100px;
}
/* Make the masthead heading the same height as the navigation */
.header h2 {
  margin-top: 20px;
  margin-bottom: 0;
  line-height: 40px;
  font-size: 40px;
}

#conteudo {
  background-color: #d1c4c0;
  padding: 50px;
  margin-top: -30px;
  height: 100%;
}

.pesquisa {
  background-color: #a3877f;
  padding: 20px;
  margin: 0 auto;
}

.pesquisa input{
  padding: 23px;
}

.btn-secondary {
 margin:0 30px;
}

#mostra {
  margin-left: 270px;
}
#esconde {
  margin-left: 270px;
}

img#img_estacionar {
  width: 200px;
  height: 200px;
  display: block;
  float: left;
  position: absolute;
  left: 100px;

}

img {
  width: 30px;
  height: 30px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  display: none;
}
.marketing p + h4 {
  margin-top: 28px;
}

#total {
  text-align: center;
  margin:-50px auto;
  font-size: 50px;
}
#clear{
  display: none;
  float: right;
  margin-right: 40px;
  margin-top:-20px;
}

#esconde {
  display: none;
}

@media screen and (max-width: 830px){

  .header {
    height: 90px;
  }

  img#img_estacionar {
    display: none;
  }

  .header h2 {    
    font-size: 30px;
    margin: 0px;
  }

}

@media screen and (max-width: 600px){

  .header h2 {    
    font-size: 17px;
    margin: 0px;
  }

  #btn_pesquisa {
    margin-right: 0px;
  }

#mostra {
  margin-left: -50px;
  position: absolute;
  left: -150px;
  float: left;

}
#esconde {
  margin-left: -50px;
  position: absolute;
  left: -150px;
  float: left;
}


@media screen and (max-width: 768px){

#mostra {
  margin-left: 350px;
}
#esconde {
  margin-left: 350px;
}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

}